#{extends 'main.html' /}
#{set title:_project.name + ' - ' + messages.get('project.people') /}
#{set pageTitle:title /}

#{set tab:'dashboard'/}
#{include 'memberships/permissiontab.html' /}

#{if (_project.needMembers && members != null) }
<div class="grid_6">
<h1>&{'members.teamLong'}</h1>
</div>
<div class="grid_9">
    #{set client:false/}
    #{include 'memberships/form_add.html' /}
</div>
<hr/>
<div class="memberships members grid_15">

    #{list items:members, as:'member'}
        #{membercard member:member, u:loggedin /}    
    #{/}
</div>
#{/}


<div class="grid_6">
<h1>&{'members.clientLong'}</h1>
</div>
<div class="grid_9">
    #{set client:true/}
    #{include 'memberships/form_add.html' /}
</div>
<hr/>
#{if clients != null}

<div class="memberships members grid_15">

    #{list items:clients, as:'client'}
        #{membercard member:client, u:loggedin /}    
    #{/}
</div>
#{/}