<form class="inline tright" action="@{Memberships.doCreate}" method="POST">
    <input type="hidden" name="project_id" 
        value="${_project.id}" size="20" />
    <input type="hidden" name="isClient" value="${client ? client : 'false'}" />
    <label>&{'labels.add'}</label>
    <input type="email" required="required" placeholder="&{'labels.emailAddress'}" 
        name="email" value="&{flash.get('email') ?: ''}"/>
    <span>&{'labels.as'}</span>
    <input required="required" name="member_title" type="text" size="10" 
        placeholder="&{'members.title'}" value="&{flash.get('member_title') ?: '' }"/>
    <button class="icon-link icon-link-add" type="submit">&{'labels.doit'}</button>
</form>