#{extends 'main.html' /}
#{set title: _project.name + ' - ' + messages.get('listing.items', l.listingName)/}
#{set pageTitle:title /}
<div class="grid_4 listing_features">
    <div class="listing_filters">
    <h2 class="nomargin">&{'listing.filters'}</h2>
    <form action="@{Listings.dashboard(_project.id, l.id)}" method="GET" id="form-filters">
    #{list items:filters, as:'filter'}
        #{if filter != null}
            #{include filter.getIncludeFile() /}
        #{/}
    #{/}
    <button class="button nomargin" type="submit"><span>&{'labels.apply'}</span></button>
    </form>
    </div>
</div>
<div class="form-quick-add grid_11 clearfix highlight">
    <div class="fleft">
    <form action="" class="inline tright" method="POST">
	    <strong>&{'item.quickAdd'}</strong>
	    <input type="hidden" name="project_id" value="${_project.id}" />
	    <input type="hidden" name="listing_id" value="${l.id}" />
	    <input type="text" name="item" class="item-quick-add" />
	    <div class="tright">
	    <a href="#" class="">&{'item.help'}</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    <a href="#" class="">&{'item.fullForm'}</a> 
	    </div>
	    
    </form>  
    </div>    
</div>
<div class="grid_11 listing_items">
   
    <div class="items">
	    <ul>
		    #{list items:items, as:'item'}
		    #{include 'listings/item.html' /}
		    #{/}
		</ul>
    </div>

</div>
