#{extends 'main.html' /}
#{set title: _project.name + ' - ' + messages.get('listing.items', l.listingName)/}
#{set pageTitle:title /}
%{ boolean isEmpty = items.size() == 0 }%  
<div style="position:relative">
<div class="grid_4 listing_features">
    <div class="listing_filters">
    <h2 class="nomargin">&{'listing.filters'} &amp; &{'labels.search'}</h2>
    <form action="@{Listings.dashboard(_project.id, l.id)}" method="GET" id="form-filters">
    #{list items:filters, as:'filter'}
        #{if filter != null}
            #{include filter.getIncludeFile() /}
        #{/}
    #{/}
    <button class="button nomargin" type="submit"><span>&{'labels.apply'}</span></button>
    </form>
    </div>
</div>
<div class="form-quick-add grid_11 clearfix highlight">

    <form action="@{Items.doCreate( _project.id, l.id)}" class="inline tleft" method="POST">
	    <strong>&{'item.quickAdd'}</strong>
	    <input type="text" name="input" class="item-quick-add" value="${params.get('input')}"/>
	    
	    <div class="tright">
	    <a href="#inputhelp" class="reveal-toggle">&{'item.help'}</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    <a href="#" class="modal">&{'item.fullForm'}</a> 
	    
	    </div>
	    <div id="inputhelp" class="tleft reveal small" style="display:none;">
        <br/>
            &{'message.item.help'}
            <ul>
                <li>&{'f.category.iph'}</li>
              <li>&{'f.date.iph'}</li>
              <li>&{'f.email1.iph'}</li>
              <li>&{'f.phone1.iph'}</li>
              <li>&{'f.address.iph'}</li>
              <li>&{'f.cost.iph'}</li>
              <li>&{'f.user.iph'}</li>
              <li>&{'f.number.iph'}</li>
            </ul>
        </div>
	    
    </form>  
 
</div>
<div class="grid_11 listing_items">
     
    <div class="items">
        #{if !isEmpty}
        <div class="actions fright "><a href="#" class="showhide  icon-link icon-link-open" 
        data-class="subinfo" data-hideText="&{'labels.hideAll'} &{'item.subinfo'}" data-showText="&{'labels.showAll'} &{'item.subinfo'}">&{'labels.hideAll'} &{'item.subinfo'}</a></div>
        <span class="clear" style="margin-top:5px;"></span>
        <br/>
	    <ul class="clearfix items" data-project-id="${_project.id}" data-listing-id="${l.id}">	    
		    #{list items:items, as:'item'}
		    #{include 'items/item.html' /}
		    #{/}
		#{/}
		#{else}
		  &{'labels.noItems'}
		#{/}
		</ul>
    </div>

</div>
</div>

