#{if mode == 'full' }

#{/}

<li id="item-${item.id}" class="item item-${item.getClasses()}">
    #{if l.hasField('checkbox')}
        <input type="checkbox" name="item.checkbox" value="checkbox"
            ${item.checkbox == true ? 'checked="checked"' : ''} />
    #{/}
    #{if l.hasField('name')}
        <strong class="title">${item.name}</strong>
    #{/}
    
    *{*** SUB INFOS, show maximum of 2 ***}*
    <ul class="subinfo">
        
        #{if l.hasField('date') && item.date != null}
        <li>
            <span class="field-name">${l.getFieldName('date')}:</span>
            <span class="field-value date">${item.date.format(loggedin.dateFormat)}</span>
         </li>
        #{/}
        #{if l.hasField('number') && item.number != null }
        <li>
            <span class="field-name">${l.getFieldName('number')}:</span>
            <span class="field-value date">${item.number}</span>
         </li>
        #{/}
        #{if l.hasField('user') && item.user != null}
        <li>
            <span class="field-name">${l.getFieldName('user')}:</span>
            <span class="field-value date"><a href="@{Memberships.show(_project.id, item.user.id)}" class="modal">
            ${item.user.fullName}</a></span>
         </li>
        #{/}
    </ul>
    
    *{*** ADDITIONAL INFO that can be display inline ***)}*
    #{if l.hasField('url')}        
        <a href="${item.url}" class="outlink url" rel="nofollow" target="_blank" title="${item.url}">url</a>
    #{/}
    #{if l.hasField('description')}
        <a href="@{Items.show(_project.id, item.id)}" class="read-more">
            &{'labels.readmore'}
        </a>
    #{/}
    #{if l.hasField('body')}
        <a href="@{Items.show(_project.id, item.id)}" class="read-more">
            &{'labels.readmore'}
        </a>
    #{/}
</li>
