#{extends 'main.html' /}
#{set title:messages.get('titles.profile') /}
#{set pageTitle:messages.get('titles.profile') /}
#{if user}

<form id="form-profile" action="@{Users.saveProfile()}" method="POST"
    class="horizontal-form">
    <div class="grid_9 prefix_1">
        <input type="hidden" name="user.identifier" value="${user.identifier}" />
        <input type="hidden" name="user.id" value="${user.id}" />
        
        #{field name:'user.email', value:user.email, labelKey:'labels.email', hasBody:false /}
        
        #{field name:'user.fullName', value:user.fullName, labelKey:'labels.fullName', hasBody:false /}
        
        #{field name:'user.nickName', value:user.nickName, labelKey:'labels.nickName', hasBody:false /}
        
        #{field name:'user.mobile', value:user.mobile, labelKey:'labels.mobile', hasBody:false /}
        
        #{field name:'user.timeZone', labelKey:'labels.nowIs', hasBody:true}
            
	        #{select 'user.timeZone', value:user.timeZone, 
	            items:com.huydung.utils.SelectorUtil.getTimezones(), 
	            valueProperty:'id' /}
        #{/}
        
        #{field name:'user.dateFormat', labelKey:'labels.dateFormat', hasBody:true}
            
            #{select 'user.dateFormat', value:user.dateFormat, 
            items:com.huydung.utils.SelectorUtil.getDateFormats(), 
            valueProperty:'id' /}
        #{/}

        <button type="submit" class="button button_grey">
            <span>&{'labels.saveProfile'}</span>
        </button>  
   
    </div>
    <div class="grid_2">
     #{gravatar email:user.email, size:100 /}
    </div>
</form>
#{/if}