/** General */
.fleft{	float:left;}
.fright{float:right;}
.tleft{ text-align: left; }
.tright{ text-align: right; }
.tcenter{text-align: center;}
.nomargin{margin:0 !important;}
.einline{display:inline !important;}
.nofloat{float:none;}
a.icon-link, button.icon-link{
	padding-left: 18px;
	text-decoration: underline;
	border: none;
	cursor: pointer;
	font-weight:bold;
	font-size: .8em;
	color: #444;
	font-family: "Palatino linotype", "Times New Roman", serif;
	text-transform: uppercase;
	height: 16px;
	line-height: 16px;
	margin: 0 10px 0 0;
}
a.icon-link:hover, button.icon-link:hover{
	color: #000;
}
fieldset legend{
	font-weight:bold;padding:0 10px;
}
.grid_6 h1, .grid_6 h2, .grid_6 h3{
	margin-bottom: 0;
}
hr{margin: 0 0 1em; display: block; clear: both;}
form hr{margin: 1em 0 1em}
.small, .filter-box{font-size: 0.9em;}
#page-title h1, form .button{
	font-family: "Palatino linotype", "Times New Roman", serif;
}
h3.ui-accordion-header{
	padding: 5px 5px 5px 24px;
}
.highlight{
	padding: 5px;
	background-color: #FFFFAA;
	border: solid 1px #AAAA66;
}
.box-table tr.used td{
	background-color: #FFFFAA;
}
.box-table tr.used:hover td{
    background-color: #FFFF66;
}
.description{
	display: block;
	font-style: italic;
}
.description small{
	font-size: 0.9em;
}
.tcenter{
	text-align: center;
}

/** Gravatar */
.gravatar{
	display: block;
	float:left; margin: 0 5px 0 0; 
}
.gravatar .description{
	text-align: center;
}
.profile .gravatar{
	float: none;
}
.clearleft{
	clear: left;
}
.clearright{
    clear: right;
}

/** Horizontal Form */

form .form-field label{
	
	clear: left;
	float: left;
	margin: 10px 10px 0 0;
	text-align: right;
	padding-top: 4px;
	font-weight: bold;
}
.horizontal-form .form-field label{
	width: 180px;
}
form button.button{
	clear:left;
	margin: 1em 0 0 190px;
	font-size: 1.2em;
	line-height: 2em;
}
form .text, form select{
	border: solid 1px #999;
	float:left;
	width: 300px;
	margin: 10px 0 0;
	padding: 3px 10px;
}
form .form-field input[type="checkbox"],
form .form-field input[type="radio"]{
	margin: 17px 0 0 20px;
}
.required label{color: #033E6B}
.required .text, .required select{	
	border-left: solid 4px #033E6B;
	margin-left: -4px;
}
form select{ width: 325px; }
form label:after{
	content: ":";
}
.form-field .error{
	color: #AA0F0F;
	font-size: 0.9em;
	padding-left: 190px;
	display: block;
}
.form-field.error input.text, .form-field.error select{
	background: #FFAFAF;
	border: solid 2px #FF3F3F;
}
/* INLINE FORMS */
form.inline{
	margin-top: 17px;
}
form.inline label,
form.inline input,
form.inline span,
form.inline button,
form.inline select,
form.inline .form-field{
    display: inline;
    padding-right: 5px;
    width: auto;
    margin: 0;
    float: none;
    max-width:150px;
}
form.inline select{
	padding: 1px;
}

/** MENU **/
#menu ul.group{
	margin: 0;
}
#menu ul.group li a {
	width: 116px;
	height: 60px;
}
#menu ul.group li a span{
    display: block; border-right: 1px solid #4985B2;
    height: 15px;
    padding-top: 45px; text-align: center;
    text-transform: uppercase;
    font: bold 11px "Palatino linotype", "Times New Roman", serif;
    overflow: hidden;    
}
#menu ul.group li.last a span{
	border-right:none;
}

#menu ul.group li a:hover, #menu ul.group li a.hover {
    background-position: left -100px;
    text-decoration: none;
}
#menu ul.group li.last a:hover, #menu ul.group li.last a.hover  {
    background-position: right -100px;
}
#menu ul.group li a.current {
    background-position: left -100px;
}
#menu ul.group li.last a.current  {
    background-position: right -100px;
}
#menu ul.group li.first a.current  {
    background-position: left -100px;
}

#menu .dashboard span{
	background: url('../../appicons/__dashboard.png') no-repeat center 10px;
}
#menu .people span{
    background: url('../../appicons/__people.png') no-repeat center 10px;
}
#menu .settings span{
    background: url('../../appicons/__settings.png') no-repeat center 10px;
}


/* WIDGETS */
.portlets{
	padding: 0;	
}
h3.widget-title{
	font: bold 18px "Palatino linotype", "Times New Roman", serif;
	margin-bottom: 0;
	color: #800;
}
.portlet{
	width: 310px;
	float: left;
}
.widget-column-2{
	width: 620px;
}
.widget-column-3{
    width: 900px;
}
.portlet-content > div > ul > li{
	list-style: none;
	padding-left: 0;
	display: block;
	margin-left: 0;
	width: 100%;
}
.portlet-content li .main-info{
	font-weight: bold;
	float: left;
	width: 65%;
	clear:left;
}
.portlet-content li .main-info a{color: #000;}
.portlet-content li .sub-info{
    float: right;
    width: 35%;
    text-align: right;
}
.widget-subname{
	text-align: right;
	font-size: .8em;
	display: block;
}
.widget-container{
	float:left;
}
.activities li .main-info a{
	text-decoration: none;
	font-weight:normal;
}

/* Icon Links */
.icon-link-add {
    background: url('../icons/plus.png') no-repeat left 0;
}
.icon-link-list{
	background: url('../icons/tables_stacks.png') no-repeat left 0;
}
.icon-link-edit {
    background: url('../icons/pencil.png') no-repeat 3px 1px;
}
.icon-link-delete{
    background: url('../icons/cross.png') no-repeat left 0;
}
.icon-link-email{
	background: url('../icons/mail_small.png') no-repeat left 0;
}

/** Membership **/
.membercard{
	margin: 20px 25px 10px 0;
	width: 320px !important;
}
.membercard ul{
	margin-bottom: 10px;
}
.membercard li{
	list-style: none;
}
.membercard  .portlet-content a{
	color: #069;line-height: 1.5em;
}
.membercard .role-title, 
.membercard .roles{font-size: .9em; line-height: .9em;color: #666;padding-top: 3px;}
.membercard .name{ font-size: 1.1em; }
.membercard .actions{ 
	position: absolute; top: -26px; height: 25px;
    right: -1px; text-align: right; 
    min-width: 160px;     
}
.portlet-header > strong{
	font-size: 1.2em; margin-left: 5px; line-height: 1em;
}


/** LISTINGS **/
ul.grid-items{
	margin: 10px;	
}
ul.grid-items li{
	list-style: none;
	padding: 2px;
	margin: 10px;
	float:left;
	border: solid 1px #DDD;
	background-color: #EEE;
}
ul.grid-items li:hover{
	border: solid 2px #0073EA;
	padding: 1px;
	background-color: #1083FA;
	cursor: pointer;
}
.grid_7 select, .grid_7 .text,
.grid_8 select, .grid_8 .text,
.grid_6 select, .grid_6 .text{
	width: 200px;
}
.grid_7 label,
.grid_8 label,
.grid_6 label{
    width: 150px;
}
.drag-handler{
	width: 20px; height:20px;
	background: url('../images/draggable.png') no-repeat top center;
	margin-top:15px;
	cursor: pointer;
}
tr:hover .drag-handler,
li:hover .drag-handler{
	background-position: bottom center;
}
.ui-sortable-placeholder{
	background-color: #AFA;
	visible: visible;
	display: block;
	/*height: 50px;*/
}
.ui-accordion .ui-accordion-content{
	overflow:hidden !important;
}

/** ITEMS **/
.listing_items{
	border-left: groove 4px #235E8b;
	margin-left: -10px;	
}
.listing_items li{
	margin:0 0 5px;
	list-style: none;
	border-top: dotted 1px #235E8b;
	padding-left: 10px;
}
.item.checked{
	font-weight: normal;
	font-size: 0.9em;
	opacity: 0.6;
}
.item.checked:hover{
	opacity:1;
}
.item.checked strong{
	font-weight: normal;
}
.listing_items .subinfo{
	font-size: 0.85em;
}
.listing_items li .subinfo li{
	float:left;
	width:33%;
	overflow: hidden;
	margin: 0;
	border-top:none;
	padding: 0;
}

/** FILTER BOXES **/
#textcontent .listing_features{
	width:230px;margin-left:0;
}
.listing_filters{
	opacity: 0.7;
	font-size:0.9em !important;
	
}
.listing_filters:hover{
	opacity:1;
}
.filter-box{
	clear:both;margin:5px 0 15px;
}

/** FILTER BOX FOR USER **/

.filter-box-user li{
	width: 50px; height: 50px;
	position: relative;
	float: left;
	margin: 3px;
	overflow: hidden;
	list-style:none;padding:0;
}
.filter-box-user li input{
	position: absolute;
	bottom: -2px; right: -2px;
}
.filter-box-user li .gravatar{
	margin:0;
}
.filter-box-user li.checked{
	margin:1px;
	border: solid 2px #235E8B;
}