/** General */
hr{margin: 1em 0; display: block; clear: both;}
#page-title h1, form .button{
	font-family: "Palatino linotype", "Times New Roman", serif;
}
.description{
	display: block;
	font-size: .8em;
	
}
.tcenter{
	text-align: center;
}

/** Gravatar */
.gravatar{
	margin-top: 1em;
	display: block;
}
.gravatar .description{
	text-align: center;
}
.clearleft{
	clear: left;
}

/** Horizontal Form */

form label{
	width: 180px;
	clear: left;
	float: left;
	margin: 10px 10px 0 0;
	text-align: right;
	padding-top: 4px;
	font-weight: bold;
}
form button.button{
	clear:left;
	margin: 1em 0 0 190px;
	font-size: 1.4em;
	line-height: 2em;
}
form .text, form select{
	border: solid 1px #999;
	float:left;
	width: 300px;
	margin: 10px 0 0;
	padding: 3px 10px;
}
.required label{color: #033E6B}
.required .text, .required select{
	
	border-left: solid 4px #033E6B;
	margin-left: -4px;
}
form select{ width: 325px; }
form label:after{
	content: ":";
}
.form-field .error{
	color: #AA0F0F;
	font-size: 0.9em;
	padding-left: 190px;
	display: block;
}
.form-field.error input.text, .form-field.error select{
	background: #FFAFAF;
	border: solid 2px #FF3F3F;
}