#{extends 'main.html' /}
#{set title:messages.get('project.create') /}
#{set pageTitle:messages.get('project.create') /}

#{if project}

<form id="form-project" action="@{Projects.save()}" method="POST"
    class="horizontal-form">
    <div class="grid_9 prefix_2">        
        <input type="hidden" name="project.id" value="${project.id}" />
        <input type="hidden" name="project.creator.id" value="${loggedin.id}" />
        #{field name:'project.name', value:project.name, labelKey:'labels.project.name', hasBody: false /}

        #{field name:'project.fromTemplate.id', labelKey:'labels.fromTemplate', hasBody:true}
            %{ 
            Long tid = 0;
            if(project.fromTemplate) { tid = project.fromTemplate.id };            
            }%
            #{select 'project.fromTemplate.id', value:project?.fromTemplate?.id ?: 0, 
                items:templates, 
                valueProperty:'id' /}
        #{/}       
        
        <hr />
        <div class="form-field">
            <label>&{'labels.project.deadline'}</label>
            <input class="text date" data-format="${ com.huydung.helpers.DateFormatOption.toJsString(loggedin.dateFormat) }" 
                value="${project.deadline}" name="project.deadline"
                />
        </div>
        
        <div class="form-field">
            <label>&{'labels.project.description'}</label>
            <textarea class="text" rows="4" value="${project.description}" name="project.description"></textarea>
        </div>
        
        <div class="form-field">
            <label>&{'labels.project.functions'}</label>
            <div class="grid_5">
                
                <input type="checkbox" name="project.needClients"
                    ${project.needClients ? 'checked="checked"' : ''} />
                <span class="label">&{'labels.project.needClients'}</span>
                <br/>
                
                <input type="checkbox"  name="project.needMembers"
                    ${project.needMembers ? 'checked="checked"' : ''} />
                <span class="label">&{'labels.project.needMembers'}</span>
                <br/>

            </div>
        </div>
        
        
        <button type="submit" class="button button_grey">
            <span>&{'labels.project.create.short'}</span>
        </button>  
   
    </div>
</form>
#{/if}