#{extends 'main.html' /}
#{set title: _project.name + ' - ' + messages.get('project.dashboard')/}
#{set pageTitle: _project.name + ' - ' + messages.get('project.dashboard') /}

#{set tab:'dashboard'/}
#{include 'projects/infotab.html' /}

#{if _project}
<strong>[${_project.status}]</strong><br/>
#{if _project.deadline != null && _project.isActive()}
<strong>&{'labels.project.deadline'}: ${_project.deadline.format()}</strong> 

<em>${_project.deadline.after(new Date()) ? '(' + _project.deadline.timeLeft() + ')' : ''}</em>
#{/}
#{if _project.description != null}
<p class="description">
${_project.description}
</p>
#{/}

<div id="portlets" class="clearfix">
	#{list items:_project.getWidgets(), as:'widget'}
	   #{widget widget:widget /}
	#{/}
</div>
#{/}



