#{extends 'main.html' /}
#{set title:messages.get('project.list') /}
#{set pageTitle:messages.get('project.list') /}

<a href="@{Projects.create()}" class="link_button button_add">&{'project.create'}</a>
#{if _projects}
<div class="fieldset">
    <h3 class="fieldset_title">&{'project.active_projects'}</h3>
    <ul>
    #{list items:_projects, as:'p'}
        <li>#{project project:p /}</li>
    #{/}
    </ul>    
</div>    
#{/}
#{if _inactive_projects}
<div class="fieldset">
    <h3 class="fieldset_title">&{'project.inactive_projects'}</h3>
    <ul>
    #{list items:_inactive_projects, as:'p'}
        <li>#{project project:p /}</li>
    #{/}
    </ul>
</div>    
#{/}