#{extends 'main.html' /}
#{set title:messages.get('project.configuration.long', _project.name) /}
#{set pageTitle:title /}


<div class="grid_6">
<h1>&{'project.listings.current'}</h1>
</div>
<div class="grid_9">
    <form action="@{Listings.doCreate}" method="POST" class="inline tright">
        <input name="project_id" type="hidden" value="${_project.id}" />
        <label>&{'labels.listing.add'}</label>
        <input required="required" name="name" type="text" size="10" 
        placeholder="&{'labels.listing.name'}" value="&{flash.get('name') ?: '' }"/>      
        <span>&{'labels.baseOn'}</span>       
        #{select 'template_id', value:flash.get('template_id'), 
                items:models.templates.ListTemplate.getTemplates(loggedin), 
                valueProperty:'id' /}
       <button class="icon-link icon-link-add" type="submit">&{'labels.doit'}</button>
    </form>
</div>
<hr/>
<div id="accordions" class="project_listings" data-id="${_project.id}">
    #{list items:listings, as:'l'}
        #{set l:l/}
        #{include "projects/listing_form.html" /}
    #{/}
</div>


