%{
com.huydung.utils.Link firstLink = _widget.getFirstLink();
com.huydung.utils.Link lastLink = _widget.getLastLink();

}%
<div class="widget-container">
<h3 class="widget-title">${_widget.getName()}</h3>
<div class="${_widget.getHtmlClass()} widget-column-${_widget.getColSpan()} portlet ui-widget ui-widget-content 
            ui-helper-clearfix ui-corner-all">
      
      <div class="portlet-header ui-widget-header ui-corner-top clearfix">
        #{if firstLink}
        <a href="${firstLink.href}" class="icon-link fleft first ${firstLink.className}">
            ${firstLink.title}
        </a>
        #{/}
        #{if lastLink}
        <a href="${lastLink.href}" class="icon-link fright last ${lastLink.className}">
            ${lastLink.title}
        </a>
        #{/}
      </div>
      <div class="portlet-content" style="display: block; ">
	      <div >
	        #{if ( _widget.getHtml() == null )}
	            <ul>
	            #{list items:_widget.getItems(), as:'item'}
	                <li class="clearfix">
	                    <div class="main-info">
	                    %{
	                    com.huydung.utils.Link link = item.getInfo(); 
	                    String subInfo = item.getSubInfo(); 
	                    }%
	                       <a href="${link.href}">
	                       ${link.title}
	                       </a>
	                    </div>
	                    #{if subInfo}
	                    <div class="sub-info">${subInfo.raw()}</div>
	                    #{/}
	                </li>
	            #{/}
	            </ul>
	        #{/}  
	        #{else}
	            #{verbatim}${_widget.getHtml()}#{/}
	        #{/}
	      </div>
      </div>
        %{String subName = _widget.getSubName() }%
        #{if subName}
        <em class="widget-subname">(${subName.raw()})</em>
        #{/}
  </div>
</div>