#{extends 'main.html' /}
#{set title:'Bad Request' /}
#{set pageTitle:title /}

<h3>Sorry, seems like you're sending us a malform request.</h3>
<em>Please try the following actions to resolve this error:</em>
<ul>
    <li>Check if you have mistyped the URL or follow a malform link.</li>
    <li>Contact your project manager and tell him/her to check the URL for you.</li>
    <li>Finally, <a href="mailto:project84@huydung.com">email us</a> if you believe this is a system error.</li>
</ul>

<strong>Thank you for your interested in Project84 and wish you a productive day :)</strong>