<div class="filter-box">
    %{ String fname_checkbox = l.getFieldName('checkbox') }%    
    <div>
        <label class="description nofloat nomargin">&{'labels.showItems', fname_checkbox}</label>
        <div>
        <input type="checkbox" class="filter-field filter-checkbox"             
            name="filter_checkbox_true" 
            ${params.get('filter_checkbox_true') == 'on' ? 'checked="checked"' : ''}
            />
        <span class="label">&{'labels.checked'}</span>
        <input type="checkbox" class="filter-field filter-checkbox" 
            name="filter_checkbox_false" 
            ${  params.get('filter_checkbox_false') == 'on' ? 'checked="checked"' : '' }
            />
        <span class="label">&{'labels.notChecked'}</span>
        </div>
    </div>
</div>