%{
String fn = f.fieldName;
}%
#{if !'checkbox,name'.contains(fn)}
#{if !(fn == 'body' && mode == 'full')}
<li class="field-${fn} ${ 'description,body'.contains(fn) ? 'span3' : '' }">
    
    <span class="field-name">${l.getFieldName(fn)}:</span>
    <span class="field-value ${fn}">
    
    #{if fn == 'date' && item.date != null}
        ${item.date.format(loggedin.dateFormat)}
    #{/} 
    
    #{if fn == 'user' && item.user != null}
        #{link-user u:item.user, p:_project /}
    #{/}
    
    #{if fn == 'category' && item.category != null}
        ${item.category}
    #{/}
    
    #{if fn == 'number' && item.number != null}
        ${item.number}
    #{/}
    
    #{if fn == 'cost' && item.cost != null}
        ${item.getCostDisplay()}
    #{/}
    
    #{if fn == 'url' && item.url != null}
        <a href="${item.url}" class="outlink url" rel="nofollow" target="_blank" title="${item.url}">
        ${item.url.abbr(25)}
        </a>
    #{/}
    
    #{if fn == 'phone1' && item.phone1 != null}
        #{link-tel item.phone1 /}
    #{/}
    #{if fn == 'phone2' && item.phone2 != null}
        #{link-tel item.phone2 /}
    #{/}
    
    #{if fn == 'email1' && item.email1 != null}
        #{link-mail item.email1 /}
    #{/}
    #{if fn == 'email2' && item.email2 != null}
        #{link-mail item.email2 /}
    #{/}
    
    #{if fn == 'address' && item.address != null}
        <a href="http://maps.google.com/?q=${item.address}" target="_blank">${item.address}</a>
    #{/}
    
    #{if fn == 'body' && item.body != null && !item.body.isEmpty()}
        <br/><em>${item.body.textOnly().abbr(360)}</em> &nbsp;&raquo;<a href="@{Items.show(_project.id, l.id, item.id)}">&{'labels.readmore'}</a>

    #{/}
    #{if fn == 'description' && item.description != null}
        <em>${item.description}</em> 

    #{/}
    #{if fn == 'file' && item.file_name != null}
        
        <strong class="${item.file_ext}">#{link-file id:item.id, name:item.file_name/}</strong> 
        
    #{/}
    </span>
</li>
#{/}
#{/}