%{
List<com.huydung.utils.ItemField> fs = models.Item.getItemFields();
List<com.huydung.utils.ItemField> selected_fs = l.getItemFields();
}%
#{if mode == 'full' }

#{/}

<li id="item-${item.id}" class="item clearfix inline-editable item-${item.getClasses()}" data-id="${item.id}">
    <div class="inline-edit" style="display:none" >
    <form action="@{Items.quickEdit(_project.id, l.id, item.id)}" method="POST">
        <label>&{'item.quickEdit'}</label>
	    <input name="input" value="${item.rawInput}" class="item-quick-edit" type="text" 
	    style="width:550px"/>
	    <div style="padding-top:5px;padding-left:100px;" class="clearfix" >
	       <button class="icon-link icon-link-save fleft" type="submit">&{'labels.save'}</button>
	       <a class="icon-link icon-link-cancel fleft">&{'labels.cancel'}</a>
	       <a class="icon-link icon-link-full fleft" href="@{Items.edit(_project.id, l.id, item.id)}">&{'item.fullForm'}</a>
        </div>
	</form>
	
    </div>
    
    <div class="inline-ui clearfix">
	    #{if l.hasField('checkbox')}
	        <input type="checkbox" name="item.checkbox" value="checkbox"
	            ${item.checkbox == true ? 'checked="checked"' : ''} />
	    #{/}
	    #{if l.hasField('name')}
	        <strong class="title">${item.name}</strong>
	    #{/}
	    <div class="actions fright">
	        <a href="@{Items.edit(_project.id, l.id, item.id)}" class="icon-link icon-link-edit">&{'labels.edit'}</a>
	        <a href="@{Items.delete(_project.id, l.id, item.id)}" class="icon-link icon-link-delete need-confirm">&{'labels.delete'}</a>
	    </div>
	    *{*** SUB INFOS, show maximum of 2 ***}*
	    <ul class="subinfo">
	       #{list items:selected_fs, as:'f'}              
               #{include "items/field_display.html" /}
           #{/}
           #{list items:fs, as:'f'}          
               #{if !l.hasField(f.fieldName) && item.hasData(f.fieldName)}    
                    #{include "items/field_display.html" /}
               #{/}
           #{/}
	    </ul>	    
    </div>
</li>
