#{extends 'main.html' /}
#{set title:messages.get('labels.itemIn') + ' ' + l.listingName /}
#{set pageTitle:title /}

%{
List<com.huydung.utils.ItemField> fs = models.Item.getItemFields();
List<com.huydung.utils.ItemField> selected_fs = l.getItemFields();
}%

<div class="clearfix">  
    
    <div class="grid_10  full-item">   
     <h1>${item.name}
     <span class="actions fright">
        <a href="@{Items.edit(item.id)}" style="font-size:12px;" class="icon-link icon-link-edit">&{'labels.edit'}</a>
        <a href="@{Items.delete(item.id)}" style="font-size:12px;" class="icon-link icon-link-delete need-confirm">&{'labels.delete'}</a>
     
     </span>   
     </h1>  
     
     <ul class="subinfo clearfix">
        <li>
            <span class="field-name">&{'labels.by'}:</span>
            <span class="field-value">#{link-user u:item.creator, p:_project /}</span>
        </li>
        <li>
            <span class="field-name">&{'labels.writtenOn'}</span>
            <span class="field-value">${item.created.format( 'hh:mm ' + loggedin.dateFormat )}</span>
        </li>
        #{if l.hasField('checkbox')}
        <li><span class="field-name">${l.getFieldName('checkbox')}:</span>
            <span class="field-value">${ item.checkbox ? messages.get('labels.yes') : messages.get('labels.no') }</span>
        </li>
        #{/}
        #{list items:selected_fs, as:'f'}              
            #{include "items/field_display.html" /}
        #{/}
        #{list items:fs, as:'f'}          
            #{if !l.hasField(f.fieldName) && item.hasData(f.fieldName)}    
                 #{include "items/field_display.html" /}
            #{/}
        #{/}
     </ul>       
     #{if item.body != null && item.body.length() > 0}
     <div class="body-text">
	   ${item.body.html().raw() }
	 </div>
     #{/}
     
     
     *{*********** Comments section ***********}*
     
     #{if controllers.Authorization.check(
        _project.id, loggedin.id, models.enums.PermissionKey.CREATE_COMMENT, l) }
     #{include 'comments/form.html' /}
     #{/}
     %{ def comments = item.getComments() }%
     #{if comments != null && comments.size() > 0}
     <h3>&{'labels.comments'}</h3>
     <ul class="comments">
	     #{list items:comments, as:'c'}
	       #{include 'comments/display.html' /}  
	     #{/}
	 </ul>
     #{/}
     </div>
     <div class="grid_5 sidebar">
         #{widget widget:l /}
     </div>
 </div>