#{extends 'main.html' /}
#{set title:messages.get('titles.homepage') /}
#{set pageTitle:messages.get('titles.home') /}
<div class="tcenter">
<iframe src="http://project84.rpxnow.com/openid/embed?token_url=http%3A%2F%2Flocalhost%3A8888%2Frpx&flags=hide_sign_in_with" 
scrolling="no" frameBorder="no" allowtransparency="true" style="width:400px;height:240px">
</iframe>

</div>
#{if play.mode.isDev()}
<form action="@{Application.devLogin}" method="POST" style="margin: 0 auto; width:600px;">
<select name="id">
    <option value="1">contact.huydung@gmail.com</option>
    <option value="2">oakman.hd@gmail.com</option>
</select>
<button class="button" type="submit"><span>Dev Login</span></button>
</form>
#{/}

