<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/png" href="@{'/public/assets/images/favicon.png'}" />
<title>#{get 'pageTitle' /} | Project84</title>
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/960.css'}" media="screen"/>
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/reset.css'}" media="screen" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/text.css'}" media="screen,print" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/blue.css'}" media="screen" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/app.css'}" media="screen" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/jquery.gritter.css'}" media="screen" />
<link rel="stylesheet" type="text/css" href="@{'/public/assets/js/fileuploader.css'}" media="screen" />

<link type="text/css" href="@{'/public/assets/css/jquery-ui-1.8.12.custom.css'}" rel="stylesheet" media="screen" />  
<link rel="stylesheet" type="text/css" href="@{'/public/assets/css/print.css'}" media="print"/>    
#{get 'moreStyles' /}

</head>

<body>
<!-- WRAPPER START -->
<div class="container_16 ${loggedin != null ? 'loggedin' : 'anonymous'}" id="wrapper"> 

    <!--LOGO-->
    <div class="grid_15" id="logo">
    <a href="/" class="image"><img src="/public/assets/images/logo.png"  /></a>
    #{ifnot loggedin}
    <a href="/">&{'interface.define'}</a>
    <br/>
    <span class="slogan">&{'interface.slogan'}</span>
    #{/ifnot}
    </div>
    <div class="float_top_box">
    <!-- USER TOOLS START -->
	    <div id="user_tools">
	    
	       <span class="languages ${lang}">
	           <a href="@{Application.switchLanguage('en', request.url)}" class="en">English</a> | 
	           <a href="@{Application.switchLanguage('vi', request.url)}" class="vi">Tiếng Việt</a>
	       </span>
	       #{if loggedin}
            <span>
                &{'interface.welcome'} 
                <a href="@{Users.profile(loggedin.id)}">${loggedin.fullName}</a>  |  
                <a href="@{Security.logout()}">&{'interface.logout'}</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            </span>
            #{/if}
	    </div>
    </div>
<!-- USER TOOLS END -->    
<div class="grid_16" id="header">
<!-- MENU START -->
<div id="menu">
#{include 'nav.html' /}
</div>
<!-- MENU END -->
</div>
<div class="grid_16" id="page-title">
<!-- TABS START -->
     <h1 class="#{get 'titleClass' /}">#{get 'title' /}</h1>
<!-- TABS END -->    
</div>
<!-- CONTENT START -->
    <div class="grid_16" id="content">
    <!--  TITLE START  --> 
    <div class="grid_10">
                
    </div>    
    #{if alternateAction}
    <div class="grid_5" id="eventbox">
        <a href="@{alternateAction.link}" class="inline_tip">${alternateAction.text}</a>
    </div>
    #{/if}
    <div class="clear"></div>
    <!--  TITLE END  -->     
    <div class="grid_15" id="textcontent">
    #{if flash.contains("success")}
    <p class="info" id="success">
        <span class="info_inner">${flash.get("success").raw()}</span>
    </p>
    #{/if}
    #{if flash.contains("warning")}
    <p class="info" id="warning">
        <span class="info_inner">${flash.get("warning").raw()}</span>
    </p>
    #{/if}
    #{if flash.contains("info")}
    <p class="info" id="info">
        <span class="info_inner">${flash.get("info").raw()}</span>
    </p>
    #{/if}
    #{if flash.contains("error")}
    <p class="info" id="error">
        <span class="info_inner">${flash.get("error").raw()}</span>
    </p>
    #{/if}

    #{doLayout /}
    </div>
    <div class="clear"> </div>
<!-- END CONTENT-->    
  </div>
<div class="clear"> </div>
</div>
<!-- WRAPPER END -->
<!-- FOOTER START -->
<div class="container_16" id="footer">
&{'interface.copyrighted'}
</div>
#{if title != 'Fatal System Error'}
#{ifErrors}
<ul>
#{errors}
    <li>${error}</li>
#{/errors}
</ul>
#{/}
#{/}
<!-- FOOTER END -->
<script type="text/javascript" src="@{'/public/assets/js/jquery.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/assets/js/blend/jquery.blend.js'}"></script>
    <script type="text/javascript" src="@{'/public/assets/js/jquery-ui-1.8.12.custom.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/assets/js/jquery.gritter.js'}"></script>
    <script type="text/javascript" src="@{'/public/assets/js/fileuploader.js'}"></script>
    <script type="text/javascript" src="@{'/public/assets/js/confirm.js'}"></script>
    <script type="text/javascript" src="@{'/public/assets/js/wymeditor/jquery.wymeditor.pack.js'}"></script>
    <script type="text/javascript" src="@{'/public/assets/js/app.js'}"></script>
    #{get 'moreScripts' /}
</body>
</html>
