#{if _project != null && _project.id > 0}
<ul class="group" id="menu_group_main">
    <li class="item first dashboard">
        <a href="@{Projects.dashboard(_project.id)}" class="${active == 'dashboard' ? 'current' : ''}">
            <span>&{'project.dashboard'}</span>
        </a>
    </li>
    #{if _project.needMembers || _project.needClients}
    <li class="item people">
        <a href="@{Memberships.dashboard(_project.id)}" class="${active == 'people' ? 'current' : ''}">
        <span>&{'project.people'}</span></a>
    </li>
    #{/}
    #{if _project.listings != null}
	    #{list items:_project.listings, as:'l'}
	    <li class="item ${l.listingName.slugify()}">
	        <a href="#" class="${active == l.listingName.slugify() ? 'current' : ''}">
	        <span style="background:url(${l.iconPath})  no-repeat center 10px">${l.listingName}</span></a>
	    </li>
	    #{/}
    #{/}
    <li class="item settings last">
        <a href="@{Projects.structure(_project.id)}" class="${active == 'settings' ? 'current' : ''}">
            <span>&{'project.manage_list'}</span>
        </a>
    </span></li>    
</ul>
#{/}