#{if project && project.id > 0}
<ul class="group" id="menu_group_main">
    <li class="item first dashboard">
        <a href="@{Projects.dashboard(project.id)}" class="${active == 'dashboard' ? 'current' : ''}">
            <span>&{'project.dashboard'}</span>
        </a>
    </li>
    #{if project.needMembers || project.needClients}
    <li class="item people">
        <a href="@{Memberships.dashboard(project.id)}"><span>&{'project.people'}</span></a>
    </li>
    #{/}
    <li class="item settings last">
        <a href="@{Projects.structure(project.id)}"><span>&{'project.manage_list'}</span></a>
    </span></li>    
</ul>
#{/}